# Biblioteca para manipular RDF
rdflib>=6.0.0

# PySNMP para manipular MIBs
pysnmp>=4.5.0

# PySMI para compilar MIBs
pysmi>=0.4.0

# NetworkX para visualizar grafos
networkx>=3.1

# Matplotlib para desenhar grafos
matplotlib>=3.7.2

# Para visualização interativa de grafos
pyvis>=0.3.0

# Para usar sparql
rdfextras==0.1
